.contenedor {
    color: white;
    display: flex;
    justify-content: center;
    /* padding-left: 14.5%; */
    padding-top: 5%;
}

.contacto {
    display: flex;
    gap: 40px;
}

.formulario {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 500px;
    align-items: center;
    border: 2px solid #391a77;
    /* Cambia el color y el grosor del borde */
    border-radius: 10px;
    /* Redondea las esquinas */
    padding: 10px;
    /* Espaciado interno */
}

.formulario input {
    width: 80%;
    background-color: white;
    color: black;
    border: 2px solid #391a77;
    /* Cambia el color y el grosor del borde */
    border-radius: 10px;
    /* Redondea las esquinas */
    padding: 10px;
    /* Espaciado interno */
}

.formulario textarea {
    width: 80%;
    background-color: white;
    color: black;
    border: 2px solid #391a77;
    /* Cambia el color y el grosor del borde */
    border-radius: 10px;
    /* Redondea las esquinas */
    padding: 10px;
    /* Espaciado interno */
}