<<<<<<< HEAD
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 10em;
    color: white;
}

.logo {
    height: 90px;
=======
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 10em;
    color: white;
}

.logo {
    height: 90px;
>>>>>>> c0c07ef9e2ca9188decae3f5b5407059fbd2b533
}