<<<<<<< HEAD
.boton {
    background: rgb(21, 10, 43);
    background: linear-gradient(45deg, rgba(21, 10, 43, 1) 0%, rgba(113, 52, 233, 1) 47%, rgba(159, 47, 216, 1) 100%);
    border-radius: 15px;
    border: none;
    color: white;
    width: 300px;
    height: 35px;
    transition: background 0.5s ease, transform 0.5s ease;
    cursor: pointer;
    font-weight: bold;
}

.boton:hover {
    background: rgb(21, 10, 43);
    background: linear-gradient(83deg, rgba(21, 10, 43, 1) 0%, rgba(113, 52, 233, 0.6026785714285714) 47%, rgba(159, 47, 216, 1) 100%);
    border: 1px solid white;
=======
.boton {
    background: rgb(21, 10, 43);
    background: linear-gradient(45deg, rgba(21, 10, 43, 1) 0%, rgba(113, 52, 233, 1) 47%, rgba(159, 47, 216, 1) 100%);
    border-radius: 15px;
    border: none;
    color: white;
    width: 300px;
    height: 35px;
    transition: background 0.5s ease, transform 0.5s ease;
    cursor: pointer;
    font-weight: bold;
}

.boton:hover {
    background: rgb(21, 10, 43);
    background: linear-gradient(83deg, rgba(21, 10, 43, 1) 0%, rgba(113, 52, 233, 0.6026785714285714) 47%, rgba(159, 47, 216, 1) 100%);
    border: 1px solid white;
>>>>>>> c0c07ef9e2ca9188decae3f5b5407059fbd2b533
}